<script>notify('hi')</script>

<p id="notice"><%= notice %></p>

<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">
			<%= paginate @blogs %>
			<%= render @blogs %>
			<%= paginate @blogs %>
		</div>
	</div>
</main>
