<h2><%= link_to "#{x.title}", portfolio_show_path(x) %></h2>

<p><%= x.subtitle %></p>
<p><%= x.body.to_s.then { |b| b.length > 99 ? "#{b[0..99].strip}..." : b } %></p>
<img src="<%= x.thumb_image %>">
<br>
