<center>
	<% if logged_in?(:site_admin) %>
		<p><%= link_to 'Create', new_portfolio_path %></p>
	<% end %>
</center>

<main role="main">
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row" data-controller="drag">
				<%= render partial: 'portfolio_item', collection: @portfolio_items, as: :x %>
			</div>
		</div>
	</div>
</main>
