<center>
	<h1>Portfolio Items</h1>
	<p><%= portfolios_url %></p>
	<p><%= link_to 'Create', new_portfolio_path %></p>
</center>

<%= render partial: 'portfolio_item', collection: @portfolio_items, as: :x %>
