<div class="yield-wrapper">
	<div class="nested-yield">
		<main role="main" class="inner cover">
			<h1 class="cover-heading">Cover your page.</h1>

			<div class="row">
				<div class="col-md-4">
					<%= image_tag 'dog.jpg', width: '180px', alt: 'Profile Picture' %>
				</div>

				<div class="col-md-8">
					<p class="lead"><%= content if defined?(content) %> </p>
					<p class="lead"><%= link_to 'Learn More', about_me_path, class: 'btn btn-lg btn-secondary' %></p>
				</div>
			</div>
		</main>
	</div>
</div>
