body {
	background-color: #222 !important ;
	color: #fff !important ;
	margin: 0 ;
}

.mastfoot .inner p {
	color: #fff ;
	display: block ;
}

.yield-wrapper {
	color: #fff ;
	margin-top: 2vh ;
	width: 50% ;
	margin-top: 20% ;
	transform: translate(50%) ;
	text-align: center ;
}

.navbar {
	z-index: 10 ;
}

.card {
	color: #000 !important ;
	text-align: left ;
}

.auth-links a {
	color: #55f ;
	text-decoration: none ;
}

.auth-links {
	a {
		color: #55f ;
		text-decoration: none ;
		padding: 10px ;
		background-color: transparent ;
		border: 2px solid #55f ;
		border-radius: 4px ;
		transition: all 0.2s ease ;

	}

	a:hover, a:focus {
		color: #fff ;
		text-decoration: none ;
		background-color: #55f ;
		border-color: #88f ;
	}
}
