body {
	background-color: #222 !important ;
	color: #fff !important ;
	margin: 0 ;
}

.mastfoot .inner p {
	color: #fff ;
	display: block ;
}

.yield-wrapper {
	color: #fff ;
	margin-top: 2vh ;
	width: 50% ;
	margin-top: 20% ;
	transform: translate(50%) ;
	text-align: center ;
}

.navbar {
	z-index: 10 ;
}

.card {
	color: #000 !important ;
	text-align: left ;
}

.w-40 {
	margin: 15vh auto 15vh auto ;
	width: 40% ;
	padding: 20px ;
}

.auth-links {
	margin-bottom: 16px ;
}

.btn-warning {
	color: #fff !important ;
}

.btn-outline-warning {
	&:hover, &:focus {
		color: #fff !important ;
	}
}

.no-border {
	border: none !important ;
}

.btn {
	min-width: 100px ;
}
