// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
	color: #000 ;
}

.top a {
	color: #f55 ;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.container {
  color: #000 ;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.links {
	color: #fff ;
	text-decoration: none ;
	transition: all 0.25s ease ;
}

.links:hover {
	color: #fa0 ;
	text-decoration: none ;
}

// Custom Styles //
.portfolio-form {
 padding: 20px ;
}

.portfolio-img-tag  {
  width: 100% ;
  height: 100% ;
  position: relative ;
  opacity: 1 ;
  overflow: hidden ;

  &::before {
    content: '' ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    z-index: 1 ;
    background-color: #000 ;
    width: 100% ;
    height: 100% ;
    opacity: 0.5 ;
    transform: translateY(-100%) ;
    transition: all 0.25s ease ;
  }

  &:hover::before {
    transform: translateY(0) ;
  }


  &:hover .portfolio-img {
    transform: scale(1.25) ;
  }

  &:hover .portfolio-img-tag-label {
    transform: translate(-50%, -50%) ;
    opacity: 1 ;
  }
}

.portfolio-img {
  transform: rotate(0) scale(1) ;
  width: 100% ;
  object-fit: cover ;
  height: 40vh ;
  overflow: hidden ;
  transition: all 0.25s ease ;
}

.portfolio-img-tag-label {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  z-index: 1 ;
  transform: translate(-50%, -125%) ;
  color: #fff ;
  font-family: alice ;
  font-size: 24px ;
  text-shadow: 0 2px 2px #000 ;
  text-align: center ;
  transition: all 0.25s ease 0.125s ;
  margin: auto ;
  opacity: 0 ;
}

.img-crop {
  display: hidden ;
  object-fit: cover ;
}
